layout: index__white
---
section.fzp-dpt
    .fzp-dpt__block(style="background: url('/assets/images/item/dinc.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--dinc
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 DINC
      
          .fzp-dpt__block__container__infos__text
            p Departamento de iniciação, o primeiro passo para você que aceitou à Cristo como Salvador. 
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/ensino.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--ensino
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Ensino
      
          .fzp-dpt__block__container__infos__text
            p Departamento focado no estudo da Palavra de Deus em sua essência. 
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/familia.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--familia
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Família
      
          .fzp-dpt__block__container__infos__text
            p Departamento voltado para família tradicional e os princípios bíblicos fundamentais para sua preservação.
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/interligados.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--interligados
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Interligados
      
          .fzp-dpt__block__container__infos__text
            p Movimento de adolescentes
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/interligadoskids.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--interligadoskids
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Interligados Kids
      
          .fzp-dpt__block__container__infos__text
            p Departamento infantil
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/juventude.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--juventude
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Juventude
      
          .fzp-dpt__block__container__infos__text
            p Movimento de jovens
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/mulhervitoriosa.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--mulhervitoriosa
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Mulher Vitoriosa
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/musica.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--musica
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Musica
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/obreiro.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--obreiros
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Obreiros
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/renovo.png');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--renovo
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Renovo
      
          .fzp-dpt__block__container__infos__text
            p Departamento que auxilia a libertação do homossexualismo
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/socioambiental.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--socioambiental
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Socioambiental
      
          .fzp-dpt__block__container__infos__text
            p Departamento responsável pela assitência social
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
    .fzp-dpt__block(style="background: url('/assets/images/item/surdos.jpg');")
      .fzp-dpt__block__overlay.fzp-dpt__block__overlay--surdos
      .fzp-dpt__block__container
        .fzp-dpt__block__container__infos
          .fzp-dpt__block__container__infos__title
            h2 Surdos
      
          .fzp-dpt__block__container__infos__text
            p Departamento inclusivo, voltado para deficientes surdos-mudos.
            
        // .fzp-dpt__block__container__button
          a(href="#").btn.btn--white Conhecer
          
section.fzp-voluntario
  .fzp-voluntario__container
    .fzp-voluntario__container__block
      .fzp-voluntario__container__block__title
        h1 Programa Voluntário
      
      .fzp-voluntario__container__block__text
        h2 Deus não te criou pra ficar parado.
