.section__header
  &--header__dizimo
    .header__inner-wrap
      .inner-wrap__block
        &--contas
          display flex
          align-items center
          justify-content space-between
          flex-flow row

          .block__contas
            padding-top 40px
            &:first-child
              margin-right 100px
