layout: index__white
---

section.faleconosco-info
  .faleconosco-info__background
  .faleconosco-info__block
    .faleconosco-info__block__container
      .faleconosco-info__block__container__col
        .faleconosco-info__block__container__col__title
          h2 Fale Conosco.

        .faleconosco-info__block__container__col__text
          p 
            | Através do nosso telefone, 
            strong (21) 2187-7070
            | , de segunda a sexta das 9h às 18h.

        .faleconosco-info__block__container__col__button
          p Ou através do nosso email
          a(href="mail:secretaria@advec.org").btn.btn--black secretaria@advec.org