layout: index__white
title: Memorial Pr. José Santos
---

section.prjosesantos
  .prjosesantos__header
    .prjosesantos__header__background
    .prjosesantos__header__block
      .prjosesantos__header__block__container
        .prjosesantos__header__block__container__col
          .prjosesantos__header__block__container__col__title
            h2 Pr. José Santos
          .prjosesantos__header__block__container__col__text
            p Pastor durante 47 anos da AD PENHA, atual ADVEC, deixou um grande legado para toda igreja do Brasil.

  .prjosesantos__text
    .prjosesantos__text__container
      p Na pequena cidade de Baltazar (RJ), em 30 de abril de 1927, nasceu o filho do funcionário público Claudionor Santos e da dona de casa Sebastiana Pereira dos Santos chamado José Santos.  Quando ele estava com um ano e quatro meses de idade, sua mãe faleceu de complicações no parto de seu segundo filho, que também não resistiu. De infância pobre, José Santos teve desde então os cuidados de sua tia Emília, a quem chamava de mãe, e de sua prima Celina.
      p Na adolescência começou a forjar seu caráter com o trabalho duro na roça. Em sua juventude José Santos concluiu os estudos e trabalhou como guarda-chaves da antiga estação de ferro Leopoldina, em Santo Antonio de Pádua, onde sonhava em ter um futuro tranqüilo como funcionário público. Naquela época ele não imaginava que Deus o chamaria para abrir portas para a pregação das boas novas do Seu Reino.
      p Na noite de 3 de novembro de 1948, em um culto realizado na casa de sua futura esposa, a irmã 
        a(href="/irma-maria-leal") 
          strong Maria Leal
        | , José Santos creu em Jesus Cristo e o recebeu como Senhor e Salvador da sua vida. A entrega foi total no dia 13 de novembro de 1948,quando foi batizado com o Espírito Santo. No dia 2 de janeiro de 1949, batizou-se nas águas e tornou-se membro da Assembleia de Deus local.
      p Em 29 de julho de 1950, o jovem José Santos casou-se com 
        a(href="/irma-maria-leal") 
          strong Maria Leal
        | , sua amiga e companheira por mais de meio século. Ainda na década de 50, apoiado por sua esposa, passou a empenhar-se no estudo e na pregação da Palavra de Deus. O ministério desse homem de Deus cresceu, ganhou ares nas pequenas cidades deBaltazar, Aperibé e Itaocara, onde trabalhava como pregador itinerante e auxiliava as igrejas locais.
      p No mês de março de 1952 foi consagrado ao pastorado e comissionado pela Igreja Assembleia de Deus de São Cristóvão para dirigir o trabalho missionário na cidade de Carangola (MG).
      p Enquanto permaneceu em Carangola, o jovem pastor implantou trabalhos em cidades vizinhas. Ali, acompanhado de sua esposa, José Santos gastou 11 anos alicerçando as estruturas das Assembléias de Deus naquela região, numa época em que a perseguição contra os evangélicos no Brasil era muito severa.
      p Após esse período, foi transferido para a igreja Assembleia de Deus de Valença (RJ), onde permaneceu por um ano. Em 1964, atendendo a indicação da liderança de sua igreja, aceitou o convite para pastorear a Assembleia de Deus na Penha, na capital do Rio de Janeiro. Na época era congregação da Assembleia de Deus de São Cristóvão. Alguns anos depois foi emancipada.        
      p O rebanho na Penha precisava de um pastor, um pacificador, pois a igreja passava por um momento difícil.
      p Na Rua Honório Bicalho, nº 88, o pastor José Santos seguiu uma trajetória constante por 33 anos, até mudar para o novo templo.  Durante esse período a igreja experimentou um franco crescimento, multiplicando o número de seus membros, implantando congregações e ampliando seu raio de ação pelas regiões vizinhas.
      p Seu trabalho era reconhecido pelas principais lideranças das Assembléias de Deus no Brasil e do movimento pentecostal no Rio de Janeiro. José Santos exerceu importantes cargos na Convenção das Assembléias de Deus do Estado do Rio de Janeiro.
      p Com a expansão da obra de Deus e o crescente número de membros, foi necessária a construção de um novo templo sede. Em 11 de março de 1990, foi realizada a cerimônia de lançamento da pedra fundamental da construção do novo templo, situado à Rua Montevidéu, nº 1.191, Penha, Rio de Janeiro (RJ).
      p O pastor José Santos mobilizou toda a igreja, que se envolveu com ofertas, campanhas para a edificação do templo e doações de materiais de construção, o que permitiu o início da obra em junho de 1991.
      p A inauguração do novo templo da Assembleia de Deus na Penha na Rua Montevidéu aconteceu em 30 de novembro de 1996. O templo possui quatro andares. Uma nova fase iniciou-se nessa igreja, com intensos evangelismos em presídios, hospitais e asilos; cruzadas evangelísticas; projetos sociais em comunidades e a estruturação dos diversos departamentos do templo sede.
      p O pastor José Santos cumpriu sua missão em 58 anos de ministério e 60 anos de união com 
        a(href="/irma-maria-leal") 
          strong Maria Leal
          | , com quem teve 11 filhos, os quais servem a Jesus Cristo. Ele deixou a Assembleia de Deus na Penha, atual Assembleia de Deus Vitória em Cristo, no ano de 2010, com cerca de 15 mil membros, compromissados com o Reino de Deus, reunidos em 89 filiais distribuídas nos estados do Rio de Janeiro, Minas Gerais, Espírito Santo e Pernambuco.
      p A Assembleia de Deus Vitória em Cristo e todo o Corpo de Cristo no Brasil reconhecem o legado que o pastor José Santos deixou. Todas as obras em prol do evangelho demonstram o exemplo de homem de caráter, pai e pastor amoroso e líder espiritual que ele foi. Todos agradecem a Deus pelo período memorável em que conviveram com o pastor José Santos.