layout: index__color
---

section.oferta-title
  .oferta-title__block
    .oferta-title__block__container
      .oferta-title__block__container__col
        .oferta-title__block__container__col__title
          h1 Fé e liberalidade

//
// Useful
// --------------------------------------------------
section.oft-options
  .oft-options__row
    .oft-options__row__item
      .oft-options__row__item__button
        a(href="/fale-conosco/").btn.btn--white Baixe nosso app
            
    .oft-options__row__item
      .oft-options__row__item__button
        a(href="/fale-conosco/").btn.btn--white Fale conosco
