layout: index
---

section.oferta-title
  .oferta-title__block
    .oferta-title__block__container
      .oferta-title__block__container__col
        .oferta-title__block__container__col__title
          h1 Acredite na colheita.
        .oferta-title__block__container__col__text
          p Minha semente para uma colheita abençoada. (2Co 9.6)
          
      .oferta-title__block__container__col
        .oferta-title__block__container__col__text
          a(href="/pr-jose-santos/").btn.btn--black Ofertar online

// section.oferta-text
  .oferta-text__container
    .oferta-text__container__title
      h2 Porque nós dizimamos?

    .oferta-text__container__text
      p 20 de maio de 1959 – Fundação – primeiro pastor: José Pimentel de Carvalho – pastoreou por dois anos e meio.

// section.oferta-text
  .oferta-text__container
    .oferta-text__container__title
      h2 Porque nós dizimamos?

    .oferta-text__container__text
      p 20 de maio de 1959 – Fundação – primeiro pastor: José Pimentel de Carvalho – pastoreou por dois anos e meio.
