layout: index
---

.popup.popup__deposito
  .popup__content
    .popup__content__close &times;
    .popup__content__list
      .popup__content__list__item
        h2 Itau
        p Agência: 0410
        p Conta: 74861-0
        
      .popup__content__list__item
        h2 Bradesco
        p Agência: 0663-7
        p Conta: 14866-0

section.oferta-title
  .oferta-title__block
    .oferta-title__block__container
      .oferta-title__block__container__col
        .oferta-title__block__container__col__title
          h1 Fé e liberalidade
          
        .oferta-title__block__container__col__text
          p Quem faz a história da Igreja é o povo. As obras, as novas Igrejas e os trabalhos sociais são frutos da fidelidade e liberalidade da Igreja.
        
        .oferta-title__block__container__col__button
          a(href="/fale-conosco/").btn.btn--blue-all Doar online
          a(href="#").btn.btn__popup--deposito Depósito Bancário

section.oft-paragraph
  .oft-paragraph__container
    .oft-paragraph__container__block
      h4 A oferta é um ato de voluntariedade, não obrigatório. Quem oferta entende o compromisso que tem com o Reino de Deus, ciente de que o Senhor fará abundantemente mais e que está plantando uma semente para colheitas abençoadas.
