layout: index
permalink: /dizimos-e-ofertas/
---

section.section__header.section__header--header__dizimo
  div.header__inner-wrap
    div.inner-wrap__block
      div.block__title
        h2 Minha semente para uma colheita abençoada.
      .block__text
        p 2Co 9.6
      .block__button
        a(href="/departamentos").btn.btn--white Ofertar online
    div.inner-wrap__block--contas
        .block__contas
          div.block__title
            h3 Itaú.
          .block__text
            p Agência <strong>0401</strong>
            p Conta <strong>74861-0</strong>
        .block__contas
          div.block__title
            h3 Bradesco.
            .block__text
            p Agência <strong>0663-7</strong>
            p Conta <strong>14866-0</strong>
