layout: index
---

section.oferta-title
  .oferta-title__block
    .oferta-title__block__container
      .oferta-title__block__container__col
        .oferta-title__block__container__col__title
          h1 Fé e liberalidade
          
        .oferta-title__block__container__col__text
          p Quem faz a história da Igreja é o povo. As obras, as novas Igrejas, os trabalhos sociais são frutos da fidelidade e liberalidade da Igreja.
        
        .oferta-title__block__container__col__button
          a(href="/fale-conosco/").btn.btn--blue-all Doar online
          a(href="/fale-conosco/").btn.btn--white Depósito Bancário

section.oft-paragraph
  .oft-paragraph__container
    .oft-paragraph__container__block
      h4 A oferta é um ato de voluntariedade, não obrigatório. Quem oferta entende o compromisso que tem com o Reino de Deus, ciente de que o Senhor fará abundantemente mais e que está plantando uma semente para colheitas abençoadas.
