layout: programacao
---

section.programacao-title
  .programacao-title__block
    .programacao-title__block__container
      .programacao-title__block__container__col
        .programacao-title__block__container__col__title
          h2 Programação.
        .programacao-title__block__container__col__text
          p Da igreja sede

