layout: index__white
title: Pr. Silas Malafaia
---

section.prsilasmalafaia
  .prsilasmalafaia__header
    .prsilasmalafaia__header__background
    .prsilasmalafaia__header__block
      .prsilasmalafaia__header__block__container
        .prsilasmalafaia__header__block__container__col
          .prsilasmalafaia__header__block__container__col__title
            h2 Pr. Silas Malafaia
          .prsilasmalafaia__header__block__container__col__text
            p Defende incansávelmente a fé cristã, os princípios e valores éticos, morais e espirituais da igreja de Jesus Cristo. Lidera a 7 anos a nossa igreja.
            
  .prsilasmalafaia__text
    .prsilasmalafaia__text__container
      p Conferencista cada vez mais reconhecido, o pastor Silas Malafaia é um incansável pregador da Palavra de Deus com livre circulação nas diversas denominações existentes no Brasil e no exterior. Seu estilo eloqüente, franco, direto e questionador são características que marcam a sua trajetória ao longo de 28 anos como defensor da fé cristã. 
      p Os princípios e os valores éticos, morais e espirituais da Igreja de Cristo são a sustentação para um ministério atuante em segmentos fundamentais para a divulgação do evangelho, como as áreas televisiva, editorial e fonográfica.
      p Na televisão, o pastor Silas Malafaia marca presença com o programa Vitória em Cristo, exibido há 28 anos em rede nacional em diversas emissoras. O programa tem alcance internacional com transmissão para os Estados Unidos, Europa e África. 
      p Além de atender convites para ministrar estudos bíblicos, palestras e congressos, o pastor Silas Malafaia está à frente de propostas ousadas. Todos os anos ele organiza eventos de repercussão como o Congresso Pentecostal Brasileiro Fogo para o Brasil, Congresso de Avivamento Despertai, a Cruzada Vida Vitoriosa para Você e a Escola de Líderes da Associação Vitória em Cristo, ações que objetivam difundir a mensagem de salvação, por intermédio de Jesus, para o maior número de pessoas no Brasil.
      p Dentre outras atribuições, estão ainda a presidência da Editora Central Gospel e da gravadora Central Gospel Music, e a vice-presidência do Conselho Interdenominacional de Ministros Evangélicos do Brasil (CIMEB), entidade que agrega mais de 8,5 mil pastores brasileiros.
      p Em janeiro de 2010, o pastor Silas Malafaia assumiu mais um grande desafio: liderar a Assembleia de Deus na Penha (RJ), mais tarde denominada Assembléia de Deus Vitória em Cristo, no lugar do saudoso pastor José Santos, que esteve à frente desse ministério, em franco crescimento, por 47 anos. Atualmente, a igreja tem cerca de 13 mil membros. 
      p O pastor Silas Malafaia atribui o crescimento do seu ministério à direção de Deus na sua vida, à sua fé e à sua obediência ao Senhor, princípios que o mantém firme em suas convicções como servo de Cristo. As orações e as contribuições dos Parceiros Ministeriais são fundamentais para que esta obra prossiga cada vez mais frutífera. 
      p Por sua efetiva contribuição à sociedade, o pastor Silas Malafaia foi homenageado com o título de Cidadão Benemérito do Estado do Rio de Janeiro, concedido pela Assembléia Legislativa do Estado, e a Medalha do Pacificador, entregue pelo Exército Brasileiro.
