//
// Variables
//
// 1. Colors
// 2. Spaces
// 3. Media Queries
// 4. Typography
// 5. Grid
// 6. Others
//
// ==================================================

//
// 1. Colors
// --------------------------------------------------

// Grays
// --------------------------------------------------

$gray-darker  = rgba(#111, 1)
$gray-dark    = rgba(#333, .8)
$gray         = rgba(#666, .8)
$gray-light   = rgba(#aaa, .8)
$gray-lighter = rgba(#ddd, .8)
$gray-white   = rgba(#f0f0f0, .8)

// Pallets
// --------------------------------------------------

$white       = #ffffff
$yellow      = #FCD920
$blue        = #327CCB
$purple      = #383A5D
$red         = #cc0000
$red_light   = #FF0033
$green       = rgb(0, 99, 88)
$orange      = #EC6C20

// Brands
// --------------------------------------------------

$text-color      = rgba(#000, .9)
$brand-primary   = $blue
$brand-success   = $green
$brand-info      = $blue
$brand-warning   = $red
$brand-danger    = $yellow


// Line & Radius
// --------------------------------------------------

$line = rgba($gray, .2)

//
// 4. Typography
// --------------------------------------------------

$doc-font-size        = 16

/* type scale */
$h1-size = 4.5rem
$h2-size = 2.9rem
$h3-size = 2.4rem
$h4-size = 1.9rem
$h5-size = .3rem

/* button size */
$btn-size = .8rem

/* paragraph size */
$p-size = 1.4rem

//
// 5. Others
// --------------------------------------------------

$buttom-radius = 100px
$widthContainer = 85%
