//
// Variables
//
// 1. Colors
// 2. Spaces
// 3. Media Queries
// 4. Typography
// 5. Grid
// 6. Others
//
// ==================================================

//
// 1. Colors
// --------------------------------------------------

// Grays
// --------------------------------------------------

$gray-darker  = rgba(#111, 1)
$gray-dark    = rgba(#333, .8)
$gray         = rgba(#666, .8)
$gray-light   = rgba(#aaa, .8)
$gray-lighter = rgba(#ddd, .8)
$gray-white   = rgba(#f0f0f0, .8)

// Pallets
// --------------------------------------------------

$white       = #ffffff
$yellow      = #eade00
$blue        = #0291A7
$blue-light  = #aceff9
$red         = #cc0000
$green       = rgb(0, 99, 88)

// Brands
// --------------------------------------------------

$text-color      = rgba(#000, .9)
$brand-primary   = $blue
$brand-success   = $green
$brand-info      = $blue
$brand-warning   = $red
$brand-danger    = $yellow


// Line & Radius
// --------------------------------------------------

$line = rgba($gray, .2)

//
// 2. Spaces
// --------------------------------------------------

$space         = 2rem                 // Regular space margin
$space-xs      = ($space / 4)         // Extra small space margin
$space-sm      = ($space / 2)         // Small space margin
$space-md      = ($space + $space-sm) // Medium space margin
$space-lg      = ($space * 2)         // Large space margin
$space-xlg     = ($space * 3)         // Extra Large space margin

$space-text    = 2.5rem

$space-gutter  = $space

$header-height = 7rem


//
// 3. Media Queries
// --------------------------------------------------

$screen-xs   = 520px  // Extra small screen / phone
$screen-sm   = 760px  // Small screen / tablet
$screen-md   = 990px  // Medium screen / desktop
$screen-lg   = 1200px // Large screen / wide desktop
$screen-xlg  = 1400px // Extra Large screen / wide desktop
$screen-xxlg = 1900px // Extra Large screen / wide desktop

// Rupture Settings
rupture.mobile-cutoff  = $screen-xs
rupture.tablet-cutoff  = $screen-sm
rupture.desktop-cutoff = $screen-lg
rupture.hd-cutoff      = $screen-xxlg

rupture.scale          = 0 $screen-xs $screen-sm $screen-md $screen-lg $screen-xlg $screen-xxlg
rupture.scale-names    = '0' 'xs' 'sm' 'md' 'lg' 'xlg' 'hd'
rupture.anti-overlap   = -1px


//
// 4. Typography
// --------------------------------------------------

$doc-font-size        = 16

/* type scale */
$type-size-1   = 3.5em  // ~45px
$type-size-2   = 3em  // ~31.248px
$type-size-3   = 2.441em  // ~25.008px
$type-size-4   = 2em   // ~20px
$type-size-5   = 1em      // ~16px
$type-size-6   = .81em   // ~12px
$type-size-7   = 0.6875em // ~11px
$type-size-8   = 0.625em  // ~10px

//
// 5. Grids
// --------------------------------------------------

@lost gutter 0
@lost flexbox flex

//
// 5. Others
// --------------------------------------------------

$buttom-radius = 100px
