//
// Page - Fale Conosco
//
// ==================================================

.faleconosco-info
    background white
    height 86vh
    box-sizing border-box
    flex(center, center, col)
    position relative
    +above('sm')
        height 88vh
        flex(center, center, row)

    &__background
        height 40vh
        width 100%
        background url("/assets/images/back/section/feleconosco.png")
        background-size cover
        background-position center center
        +above('sm')
            height 100%
            order 1

    &__block
        background white
        flex(center, up, row)
        padding-top 3.6em
        height 60vh
        width 100%
        +above('sm')
            flex(center, center, row)
            height 100%
            padding-top 0
            order 2

        &__container
            width 75%
            height auto
            position relative
            z-index 0
            +above('sm')
                width 60%
                
            &__col
                &__title
                    color $red
                    margin-bottom 2em

                &__text
                    margin-bottom 1em

                &__button
                    text-align left
                    +above('sm')
                        text-align left