//
// Page - Oferta
//
// ==================================================

.oferta-title
    background white
    box-sizing border-box
    background url("/assets/images/back/section/oferta.png")
    background-size cover
    background-position center center
    position relative
    overflow visible
    +above('sm')
        height 70vh
        flex(center, center, col)

    &__block
        flex(center, up, row)
        max-width 800px
        padding-top 7em
        padding-bottom 4em
        width 100%
        +above('sm')
            flex(center, center, row)
            height 100%

        &__container
            width 85%
            height auto
            position relative
            z-index 0
            +above('sm')
                width 60%

            &__col
                &__title
                    margin-bottom 2em
                    color white

                    h1
                      font-weight bold

                    +above('sm')
                        text-align center

                &__text
                  color white
                  +above('sm')
                    text-align center

                  a
                    color white
                    font-size 1em
                    padding-top 4.5em

.oferta-text
    flex(center, center, row)
    width 100%
    margin-bottom 2em
    overflow visible
    +above('sm')
        margin-bottom 7em
        margin-top 8em

    &__container
        text-align left
        width 75%
        max-width 800px
        position relative

        &__title
          color $red
          padding-top 2em
          padding-bottom 2em

        p
            margin-bottom 2em
