//
// Page - Quem Somos
//
// ==================================================

.qsm-header
    display flex
    align-items center
    height 70vh
    flex-direction column
    background white
    box-sizing border-box
    background url("/assets/images/back/section/quemsomos__a.jpg")
    background-size cover
    background-position center center
    position relative
    overflow hidden
    +above('sm')
        flex(center, center, col)

    &__container
        width 85%
        +above('xs')
            display flex
            align-items center
            justify-content center

        &__block
            display inline-block
            padding-top 6.5em
            padding-bottom 4em
            width 100%

            &__title
                +above('xs')
                    text-align center

                h1
                    color white
                    font-weight bold

            &__text
                padding-top 1em
                +above('xs')
                    text-align center

                p
                    color white

    &__menu
      display flex
      justify-content center
      align-items center
      position absolute
      top 0
      width 100%
      padding-top 1.5em
      padding-bottom 1.5em
      background $blue

      &__container
        display flex
        justify-content center
        align-items center
        width 85%

        &__list
          display flex
          justify-content center
          align-items center

          &__item
            margin-right 3em

            &:last-child
              margin-right 0

            a
              color $white
              font-size .8rem
              text-transform uppercase

.qsm-history
    flex(center, center, row)
    width 100%
    overflow visible
    padding-bottom 7em
    padding-top 7em

    &__container
        text-align left
        width 85%
        max-width 800px
        position relative

        &__title
          margin-bottom 3em
          h2
            color $red
            font-weight bold

        &__sub
          margin-bottom .5em

        &__button
          margin-bottom 3em

        &__text
          p
            margin-bottom 2em
