//
// Page - Quem Somos
//
// ==================================================

.qsm-header
    display flex
    align-items center
    flex-direction column
    background white
    box-sizing border-box
    background url("/assets/images/back/section/historia.png")
    background-size cover
    background-position center center
    position relative
    +above('sm')
        height 75vh
        flex(center, center, col)

    &__container
        width 85%
        +above('xs')
            display flex
            align-items center
            justify-content center

        &__block
            display inline-block
            padding-top 6.5em
            padding-bottom 4em
            width 100%

            &__title
                +above('xs')
                    text-align center

                h1
                    color white
                    font-weight bold

            &__text
                padding-top 1em
                +above('xs')
                    text-align center

                p
                    color white

.qsm-history
    flex(center, center, row)
    width 100%
    overflow visible
    padding-bottom 7em
    padding-top 7em

    &__container
        text-align left
        width 85%
        max-width 800px
        position relative

        &__title
          margin-bottom .5em
          h2
            color $red

        &__sub
          margin-bottom .5em

        &__button
          margin-bottom 3em

        &__text
          p
            margin-bottom 2em

          &:after
            display inline-block
            font-family FontAwesome
            content "\f10d"
            font-style normal
            font-weight normal
            text-decoration inherit
            font-size 8rem
            color black
            opacity .03
            position absolute
            top 120px
            left -60px
