layout: index
---

section.vlt-header
  .vlt-header__container
    .vlt-header__container__block
      .vlt-header__container__block__title
        h2 Deus não te criou pra ficar parado.
        
section.vlt-bg
  .vlt-bg__container
    .vlt-bg__container__block
      .vlt-bg__container__block__title
        h2 Participe do nosso programa de voluntários.

section.vlt-infos
  .vlt-infos__container
    .vlt-infos__container__title
      h3 Para mais informações, ou fazer sua inscrição entre em contato através do email 
        a(href="mailt: voluntario@advec.org")
          strong voluntario@advec.org
