layout: index__white
---

section.pdo-form
  .pdo-form__container
    .pdo-form__container__title
      h1 Pedido de oração
      
    .pdo-form__container__form
      script(type="text/javascript" src="https://advec.formstack.com/forms/js.php/fale_conosco")
      noscript
        a(href="https://advec.formstack.com/forms/fale_conosco" title="Online Form") Online Form - advec.org/pedido-de-oracao
