layout: departamento
---

section.departamento-title
  .departamento-title__container
    .departamento-title__container__block
      .departamento-title__container__block__title
        h1 Departamentos.
      
      .departamento-title__container__block__text
        p Participe. Somos Um.