layout: index
---

section.section__header.section__header--header__departamentos
  .header__inner-wrap
    .inner_wrap__block
      .block__title
        h2 Amar & Servir.
      .block__text
        p Nossos departamentos.
        
section.list-departamentos__section
  .section__list
    .list__item
      p Família
      img(src="#")
    .list__item
      p Ensino
      img(src="/assets/images/item/ensino_block.png")
    .list__item
      p Interligados
      img(src="#")
    .list__item
      p Interligados Kids
      img(src="/assets/images/item/interkids_block.png")
    .list__item
      p Juventude Vitória<br>Em Cristo
      img(src="/assets/images/item/juventude_block.png")
    .list__item
      p Mulher Vitoriosa
      img(src="/assets/images/item/mulheres_block.png")
    .list__item
      p Música
      img(src="/assets/images/item/musical_block.png")
    .list__item
      p Novo Convertido
      img(src="#")
    .list__item
      p Obreiros
      img(src="/assets/images/item/obreiros_block.png")
    .list__item
      p Renovo
      img(src="#")
    .list__item
      p Sócioambiental
      img(src="#")
    .list__item
      p Surdos
      img(src="/assets/images/item/surdos_block.png")
    .list__item
      p Terceira Idade
      img(src="#")
  
