layout: index
---

section.exp-header
  .exp-header__block
    .exp-header__block__container
      .exp-header__block__container__col
        .exp-header__block__container__col__title
          h1 Estamos em obras.

// section.exp-dblock
  .exp-dblock__background
  .exp-dblock__block
    .exp-dblock__block__container
      .exp-dblock__block__container__col
        .exp-dblock__block__container__col__title
          h3 Vencemos a primeirta etapa do nosso maior desafio.
          h3 Inauguramos no dia 10 de dezembro, nossa filial São Paulo, em um templo provisório, localizado no bairro da Mooca.
          
section.exp-full
  .exp-full__container
    .exp-full__container__row
      h2 Futuras instalações da ADVEC Recreio, Rio de Janeiro.
