layout: index__white
---

section.filial-list
  .filial-list__background
    h4 ADVEC Brasília

  .filial-list__block
    .filial-list__block__container
      .filial-list__block__container__col
        .filial-list__block__container__col__title
          h2 Filiais.
        .filial-list__block__container__col__text
          p Selecione o estado

        .filial-list__block__container__col__button
          a(href="/filiais/rj").btn.btn--black Rio de Janeiro
          a(href="/filiais/sp").btn.btn--black São Paulo
          a(href="/filiais/mg").btn.btn--black Minas Gerais
          a(href="/filiais/es").btn.btn--black Espiritio Santo
          a(href="/filiais/df").btn.btn--black Distrito Federal
          a(href="/filiais/pe").btn.btn--black Pernambuco
          a(href="/filiais/pr").btn.btn--black Paraná
          a(href="/filiais/rn").btn.btn--black Rio Grande do Norte
          a(href="/filiais/sc").btn.btn--black Santa Catarina