layout: index__white
---

section.filial-list
  .filial-list__background
    h4 ADVEC Brasília

  .filial-list__block
    .filial-list__block__container
      .filial-list__block__container__col
        .filial-list__block__container__col__title
          h2 Filiais.
        .filial-list__block__container__col__text
          p Selecione o estado

        .filial-list__block__container__col__button
          a(href="mail:secretaria@advec.org").btn.btn--black Rio de Janeiro
          a(href="mail:secretaria@advec.org").btn.btn--black São Paulo
          a(href="mail:secretaria@advec.org").btn.btn--black Minas Gerais
          a(href="mail:secretaria@advec.org").btn.btn--black Espiritio Santo
          a(href="mail:secretaria@advec.org").btn.btn--black Distrito Federal
          a(href="mail:secretaria@advec.org").btn.btn--black Recife
          a(href="mail:secretaria@advec.org").btn.btn--black Pernambuco
          a(href="mail:secretaria@advec.org").btn.btn--black Paraná
          a(href="mail:secretaria@advec.org").btn.btn--black Rio Grande do Norte
          a(href="mail:secretaria@advec.org").btn.btn--black Santa Catarina