layout: index
---

section.quemsomos-title
  .quemsomos-title__container
    .quemsomos-title__container__block
      .quemsomos-title__container__block__title
        h1 quemsomoss.
      
      .quemsomos-title__container__block__text
        p Participe. Somos Um.

section.quemsomos-title
  .quemsomos-title__background
  .quemsomos-title__block
    .quemsomos-title__block__container
      .quemsomos-title__block__container__col
        .quemsomos-title__block__container__col__title
          h2 Nossa história.
        .quemsomos-title__block__container__col__text
          p Um pequeno resumo do nosso caminho com Cristo.
        .quemsomos-title__block__container__col__button
          a(href="/pr-jose-santos/").btn.btn--black Memorial Pr. José Santos

section.quemsomos-text
  .quemsomos-text__container
    p 20 de maio de 1959 – Fundação – primeiro pastor: José Pimentel de Carvalho – pastoreou por dois anos e meio.
    p 1962 – pastor Sebastião Ferreira Pinto – substituiu o pastor Pimentel, pastoreando a igreja cerca de um ano.
    p 1963 – pastor Augusto Costa – assumiu a liderança da igreja provisoriamente e permaneceu três meses à frente dos trabalhos.
    p 1964 – pastor José Santos – assumiu a igreja no final de 1963, e no início de 64 organizou os trabalhos na Assembleia de Deus na Penha. Sua marca foi a pacificação.
    p Dia 3 de fevereiro de 2010, o pastor José Santos descansou no Senhor. Até a sua partida, ele desempenhou um pastorado abençoado por Deus. Ao assumir a presidência da igreja em 64, havia sete congregações: Taborari, Proletária (Rua Doze), Morro da Fé, Morro do Sereno, Vila da Penha, Marcílio Dias e Rua Coimbra (extinta).
    p Em 2010, pastor José Santos cumpriu sua missão em 58 anos de ministério e 60 anos de união com Maria Leal, com quem teve 11 filhos, os quais servem a Jesus Cristo. Deixou a Assembleia de Deus na Penha, atual Assembleia de Deus Vitória em Cristo, com cerca de 15 mil membros, compromissados com o Reino de Deus, reunidos em 89 filiais, distribuídas nos estados do Rio de janeiro, Minas Gerais, Espírito Santo e Pernambuco.
    p Um dos fatos marcantes na gestão do pastor José Santos foi a inauguração do novo templo da Assembleia de Deus na Penha, na Rua Montevidéu, em 30 de novembro de 1996.
    p 2 de março de 2010 – pastor Silas Lima Malafaia foi indicado de forma unânime pelo ministério da igreja para assumir a liderança da Assembleia de Deus na Penha, atual Assembleia de Deus Vitória em Cristo.