layout: index__white
---

section.qsm-header
  .qsm-header__container
    .qsm-header__container__block
      .qsm-header__container__block__title
        h1 Somos a igreja da palavra.
        
  .qsm-header__menu
    .qsm-header__menu__container
      .qsm-header__menu__container__list
        .qsm-header__menu__container__list__item
          a(href='/pr-silas-malafaia/') Pr. Silas Malafaia
      
        .qsm-header__menu__container__list__item
          a(href='/pr-jose-santos/') Pr. José Santos

// section.lideranca-prsilas
  .lideranca-prsilas__background
  .lideranca-prsilas__block
    .lideranca-prsilas__block__container
      .lideranca-prsilas__block__container__col
        .lideranca-prsilas__block__container__col__title
          h2 Pr. Silas Malafaia

        .lideranca-prsilas__block__container__col__text
          p Defende incansávelmente a fé cristã, os princípios e valores éticos, morais e espirituais da igreja de Jesus Cristo. Lidera a 7 anos a nossa igreja.

        .lideranca-prsilas__block__container__col__button
          a(href="https://www.facebook.com/SilasMalafaia?fref=ts")
            i.icon--facebook

          a(href="https://www.instagram.com/pastormalafaiaoficial/")
            i.icon--instagram

          a(href="https://twitter.com/pastormalafaia?lang=pt")
            i.icon--twitter

          a(href="https://www.youtube.com/user/prmalafaia")
            i.icon--youtube

// section.lideranca-prodilton
  .lideranca-prodilton__background
  .lideranca-prodilton__block
    .lideranca-prodilton__block__container
      .lideranca-prodilton__block__container__col
        .lideranca-prodilton__block__container__col__title
          h2 Pr. Odilton Ângelo
          
        .lideranca-prodilton__block__container__col__text
          p Reconhecido pelo seu zelo e lealdade a ADVEC, Pr. Odilton Ângelo está a 7 anos na vice-presidência da nossa igreja.

        .lideranca-prodilton__block__container__col__button
          a(href="https://twitter.com/pr_odilton")
            i.icon--twitter

section.qsm-history
  .qsm-history__container
    .qsm-history__container__title
      h2 Nossa história.
      
    .qsm-history__container__sub
      p Um pequeno resumo do nosso caminho com Cristo.
      
    .qsm-history__container__text
      p 20 de maio de 1959 – Fundação – primeiro pastor: José Pimentel de Carvalho – pastoreou por dois anos e meio.
      p 1962 – pastor Sebastião Ferreira Pinto – substituiu o pastor Pimentel, pastoreando a igreja cerca de um ano.
      p 1963 – pastor Augusto Costa – assumiu a liderança da igreja provisoriamente e permaneceu três meses à frente dos trabalhos.
      p 1964 – pastor José Santos – assumiu a igreja no final de 1963, e no início de 64 organizou os trabalhos na Assembleia de Deus na Penha. Sua marca foi a pacificação.
      p Dia 3 de fevereiro de 2010, o pastor José Santos descansou no Senhor. Até a sua partida, ele desempenhou um pastorado abençoado por Deus. Ao assumir a presidência da igreja em 64, havia sete congregações: Taborari, Proletária (Rua Doze), Morro da Fé, Morro do Sereno, Vila da Penha, Marcílio Dias e Rua Coimbra (extinta).
      p Em 2010, pastor José Santos cumpriu sua missão em 58 anos de ministério e 60 anos de união com Maria Leal, com quem teve 11 filhos, os quais servem a Jesus Cristo. Deixou a Assembleia de Deus na Penha, atual Assembleia de Deus Vitória em Cristo, com cerca de 15 mil membros, compromissados com o Reino de Deus, reunidos em 89 filiais, distribuídas nos estados do Rio de janeiro, Minas Gerais, Espírito Santo e Pernambuco.
      p Um dos fatos marcantes na gestão do pastor José Santos foi a inauguração do novo templo da Assembleia de Deus na Penha, na Rua Montevidéu, em 30 de novembro de 1996.
      p 2 de março de 2010 – pastor Silas Lima Malafaia foi indicado de forma unânime pelo ministério da igreja para assumir a liderança da Assembleia de Deus na Penha, atual Assembleia de Deus Vitória em Cristo.
