layout: index
---

section.btm-header
  .btm-header__container
    .btm-header__container__block
      .btm-header__container__block__logo
        img(src="/assets/images/item/batismo__logo.png")

section.btm-faq
  .btm-faq__background
  .btm-faq__block
    .btm-faq__block__container
      .btm-faq__block__container__col
        .btm-faq__block__container__col__title
          h2 O batismo é o primeiro passo para cada um de nós, depois de colocar a nossa confiança em Jesus Cristo.
