layout: index
---

section.btm-header
  .btm-header__container
    .btm-header__container__block
      .btm-header__container__block__logo
        img(src="/assets/images/item/batismo__logo.png")

section.btm-faq
  .btm-faq__background
  .btm-faq__block
    .btm-faq__block__container
      .btm-faq__block__container__col
        .btm-faq__block__container__col__title
          h2 O batismo é o primeiro passo para cada um de nós, depois de colocar a nossa confiança em Jesus Cristo.
          
section.btm-dates
  .btm-dates__container
    .btm-dates__container__row
      h3 Próximos batismos de 2017
      
    .btm-dates__container__row
      .btm-dates__container__row__list
        .btm-dates__container__row__list__item
          h1 24/06
          
        .btm-dates__container__row__list__item
          h1 23/09
          
        .btm-dates__container__row__list__item
          h1 16/12
          
section.btm-bar
  .btm-bar__container
    .btm-bar__container__block
      h4 Para saber mais, envie um email para 
        strong dinc@advec.org
        |  ou ligue para
        strong  (21) 2187-7070
