layout: index
---

//
// Swiper
// --------------------------------------------------
section.section.section__swipper
  div.section__swipper__container
    div.swiper-container
      div.swiper-wrapper

        div.swiper-slide
          div.inner-wrap__block
            div.section__container__col__title
              h2(style="font-size: 8em") Somos Um.
            div.section__container__col__text
              p Somos Um em Cristo.
            //div.section__container__col__button
              //div.button__row
                //a(href="#").btn.btn--white Somos Um
            div.section__video
              video(autoplay="autoplay" loop="loop" muted="muted" src="/assets/videos/bg-home-1.mp4")

        div.swiper-slide
          div.inner-wrap__block
            div.section__container__col__title
              h2(style="font-size: 5em") Faça a diferença.
            div.section__container__col__text
              p Isso que irá acontecer no de 2017. Nós vamos #fazeradiferença!
            //div.section__container__col__button
              //div.button__row
                //a(href="#").btn.btn--white Somos Um
            div.section__video
              video(autoplay="autoplay" loop="loop" muted="muted" src="/assets/videos/bg-home-1.mp4")

      .swiper-button-prev <
      .swiper-button-next >

//
// Batismo
// --------------------------------------------------
section.section.section--batismo
  .section__container
    .section__container__col
      .section__container__col__title
        h3 Sou batizado, seja um.
      .section__container__col__text
        p Esse ano teremos 4 batismos. Vamos fazer a diferença, vencendo mais esse desafio.
      .section__container__col__button
        a(href="/batismo/").btn.btn--white Batismo 2017

//
// Departamentos
// --------------------------------------------------
section.section.section--departamentos
  .section__container
    .section__container__col
      .section__container__col__title
        h3 Amar e Servir.
      .section__container__col__text
        p Você com certeza tem um espaço aqui dentro. Temos diversos departamentos, para todo tipo de idade e para todos que querem trabalhar no Reino.
      .section__container__col__button
        a(href="/departamentos/").btn.btn--white Nossos departamentos

//
// Oração
// --------------------------------------------------
section.section.section--oracao
  .section__container
    .section__container__col
      .section__container__col__title
        h3 Queremos orar por você.
      .section__container__col__text
        p Fique a vontade para fazer seu pedido.<br> Nós vamos orar por você.
      .section__container__col__button
        a(href="#").btn.btn--red.btn-pray Enviar pedido de oração
      // #--pop__gray.section__popup.mfp-hide
        // script(type="text/javascript" src="https://advec.formstack.com/forms/js.php/fale_conosco")
