layout: index
---

.swiper      
  .swiper__container
    .swiper__container__block
      .swiper__container__block__title
        h1 Somos Um
        
      .swiper__container__block__button
        a(href="/programacao/").btn.btn--white Novo por aqui?
        a(href="http://advec.churchonline.org").btn.btn--aovivo Assista ao vivo
      
    .swiper-wrapper
      .swiper-slide
        video(autoplay="autoplay" loop="loop" muted="muted" src="assets/videos/bg-home-1.mp4")
        
      .swiper-slide
        video(autoplay="autoplay" loop="loop" muted="muted" src="assets/videos/bg-home-1.mp4")

section.bemvindo
  .bemvindo__container
    .bemvindo__container__block
      .bemvindo__container__block__text
        h2 Seja bem vindo, sua presença nos enche de alegria e satisfação.
      
      .bemvindo__container__block__button
        a(href="/filiais/").btn.btn--orange Nossas igrejas

section.prsilas
  .prsilas__block
    .prsilas__block__container
      .prsilas__block__container__col
        .prsilas__block__container__col__title
          h2 Pr. Silas Malafaia
        .prsilas__block__container__col__text
          p Pastor presidente da ADVEC, casado com a Pra. Elizete Malafaia e voz profética levantada por Deus para esta nação.
        .prsilas__block__container__col__button
          a(href="/pr-silas-malafaia/").btn.btn--white Conheça
          
section.ebd
  .ebd__background
  .ebd__block
    .ebd__block__container
      .ebd__block__container__col
        .ebd__block__container__col__title
          h2 Escola Bíblica Dominical.
        .ebd__block__container__col__text
          p Traga sua família para a maior escola do mundo. Aprenda e proteja você e sua família.
        .ebd__block__container__col__button
          a(href="/programacao/").btn.btn--red Programação

section.batismo
  .batismo__block
    .batismo__block__container
      .batismo__block__container__col
        .batismo__block__container__col__title
          h2 Batismo: Um ato ordenado por Cristo. 
        .batismo__block__container__col__text
          p “Todo aquele que crê e for batizado, será salvo; mas quem não crer será condenado”. (Mc 16:16)” 
        .batismo__block__container__col__button
          a(href="/batismo/").btn.btn--white Seja um

section.departamento
  .departamento__background
  .departamento__block
    .departamento__block__container
      .departamento__block__container__col
        .departamento__block__container__col__title
          h2 Junte-se a Nós.
        .departamento__block__container__col__text
          p Faça parte do movimento para a Expansão do Reino de Deus. Temos departamentos para todas as idades e estamos prontos para receber você.
        .departamento__block__container__col__button
          a(href="/fazer-parte/").btn.btn--black Fazer Parte
          
section.doe
  .doe__block
    .doe__block__container
      .doe__block__container__col
        .doe__block__container__col__title
          h2 Fé e liberalidade
        .doe__block__container__col__text
          p Quem faz a história da Igreja é o povo. As obras, as novas Igrejas e os trabalhos sociais são frutos da fidelidade e liberalidade da Igreja. 
        .doe__block__container__col__button
          a(href="/dizimos-e-ofertas/").btn.btn--white Doe Online

section.oracao
  .oracao__container
    .oracao__container__col
      .oracao__container__col__title
        h2 Queremos orar por você.
      .oracao__container__col__text
          p Fique a vontade para fazer seu pedido. Nós vamos orar por você.
      .oracao__container__col__button
        a(href="/pedido-de-oracao/").btn.btn--black
          | Fazer pedido
          
section.useful
  .useful__row
    .useful__row__item
      .useful__row__item__background
        img(src="/assets/images/item/app.jpg")
      .useful__row__item__button
        a(href="/#/").btn.btn--white Baixe nosso app
            
    .useful__row__item
      .useful__row__item__background
        img(src="/assets/images/item/atendimento.jpg")
      .useful__row__item__button
        a(href="/fale-conosco/").btn.btn--white Fale conosco
        
    .useful__row__item
      .useful__row__item__background
        img(src="/assets/images/item/recadastramento.jpg")
      .useful__row__item__button
        a(href="/#/").btn.btn--white Recadastramento
      
