layout: index
---

//
// Swiper
// --------------------------------------------------
section.slider
  div.slider__container
    div.swiper-container
      div.swiper-wrapper
        div.swiper-slide
          div.inner-wrap__block
            div.section__container__col__title
              h1 Somos Um.
            div.section__container__col__text
              p Somos Um em Cristo.
            div.section__container__col__button
              div.button__row
                a(href="#").btn.btn--white Somos Um
            div.section__video
              video(autoplay="autoplay" loop="loop" muted="muted" src="/assets/videos/bg-home-1.mp4")
      
        div.swiper-slide
          div.inner-wrap__block
            div.section__container__col__title
              h1 Teste.
            div.section__container__col__text
              p Somos Um em Cristo.
            div.section__container__col__button
              div.button__row
                a(href="#").btn.btn--white Somos Um
            div.section__video
              video(autoplay="autoplay" loop="loop" muted="muted" src="/assets/videos/bg-home-1.mp4")
      
      .swiper-pagination
      .swiper-button-prev
        i.icon--chevron-left
      .swiper-button-next
        i.icon--chevron-right

//
// EBD
// --------------------------------------------------
section.ebd
  .ebd__container
    .ebd__container__col
      .ebd__container__col__title
        h2 Escola Bíblica Dominical
      .ebd__container__col__text
        p Traga sua família para a maior escola do mundo. Aprenda e se proteja, você e sua família.
      .ebd__container__col__button
        a(href="/batismo/").btn.btn--white Programação
  img(src="/assets/images/back/section/ebd.png").section-background

//
// Departamentos
// --------------------------------------------------
section.departamento
  .departamento__container
    .departamento__container__col
      .departamento__container__col__title
        h2 Amar e Servir.
      .departamento__container__col__text
        p Você com certeza tem um espaço aqui dentro. Temos diversos departamentos, para todo tipo de idade e para todos que querem trabalhar no Reino.
      .departamento__container__col__button
        a(href="/departamentos/").btn.btn--white Nossos departamentos
  img(src="/assets/images/back/section/amareservir.png").section-background

//
// Bar | Recadastro membros
// --------------------------------------------------
.bar
  .bar__container
    .bar__container__title
      h2 Você é membro?
    .bar__container__button
      a(href="#").btn.btn--white Recadastro de membros

//
// Oração
// --------------------------------------------------
section.oracao
  .oracao__container
    .oracao__container__col
      .oracao__container__col__title
        h2 Queremos orar por você.
      .oracao__container__col__text
          p Fique a vontade para fazer seu pedido. Nós vamos orar por você.
      .oracao__container__col__button
        a(href="#").btn.btn--red.btn-pray
          i.icon--hand-pray
          | Fazer pedido de oração

      // #--pop__gray.section__popup.mfp-hide
        // script(type="text/javascript" src="https://advec.formstack.com/forms/js.php/fale_conosco")
