//
// Font Awesome
//
// ==================================================

$fa-font-path ?= "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "/../../node_modules/font-awesome-stylus/stylus/index"

.icon
    &--facebook
        fa(facebook-square)
    &--instagram
        fa(instagram)
    &--twitter
        fa(twitter)
    &--youtube
        fa(youtube-play)

    &--circle
        fa(circle)
        margin-right 4px

    &--aovivo
        fa(circle)
        font-size .5em
        color $red

    &--hand-pray
        fa(hand-paper-o)
        margin-right 4px

    &--chevron-left
        fa(angle-left)
        margin-right 4px

    &--chevron-right
        fa(angle-right)
        margin-right 4px

    &--email
        fa(envelope-o)
        margin-right 4px

    &--apple
        fa(apple)
        margin-right 4px

    &--android
        fa(android)
        margin-right 4px
