//
// Font Awesome
//
// ==================================================

$fa-font-path ?= "http://netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts"
@import "/../../node_modules/font-awesome-stylus/stylus/index"

.icon
    &--facebook
        fa(facebook)
    &--instagram
        fa(instagram)
    &--twitter
        fa(twitter)
    &--youtube
        fa(youtube)

    &--circle
        fa(circle)
        margin-right 4px

    &--hand-pray
        fa(hand-paper-o)
        margin-right 4px

    &--chevron-left
        fa(chevron-left)
        margin-right 4px

    &--chevron-right
        fa(chevron-right)
        margin-right 4px


