layout: index__white
title: Memorial Pr. José Santos
---

section.lideranca-prsilas
  .lideranca-prsilas__background
  .lideranca-prsilas__block
    .lideranca-prsilas__block__container
      .lideranca-prsilas__block__container__col
        .lideranca-prsilas__block__container__col__title
          h2 Pr. Silas Malafaia

        .lideranca-prsilas__block__container__col__text
          p Defende incansávelmente a fé cristã, os princípios e valores éticos, morais e espirituais da igreja de Jesus Cristo. Lidera a 7 anos a nossa igreja.

        .lideranca-prsilas__block__container__col__button
          a(href="https://www.facebook.com/SilasMalafaia?fref=ts")
            i.icon--facebook

          a(href="https://www.instagram.com/pastormalafaiaoficial/")
            i.icon--instagram

          a(href="https://twitter.com/pastormalafaia?lang=pt")
            i.icon--twitter

          a(href="https://www.youtube.com/user/prmalafaia")
            i.icon--youtube

section.lideranca-prodilton
  .lideranca-prodilton__background
  .lideranca-prodilton__block
    .lideranca-prodilton__block__container
      .lideranca-prodilton__block__container__col
        .lideranca-prodilton__block__container__col__title
          h2 Pr. Odilton Ângelo
          
        .lideranca-prodilton__block__container__col__text
          p Reconhecido pelo seu zelo e lealdade a ADVEC, Pr. Odilton Ângelo está a 7 anos na vice-presidência da nossa igreja.

        .lideranca-prodilton__block__container__col__button
          a(href="https://twitter.com/pr_odilton")
            i.icon--twitter